:root {
  --font-primary: monospace, 'Courier New', Courier;
  --main-black: rgb(30, 30, 30);
  --main-white: rgb(240, 240, 240);
  --main-gray: rgb(180, 180, 180);
  --main-gray-op: rgba(180, 180, 180, .9);
  --main-gray-op-dark: rgba(120, 120, 120, .2);
  --main-color: rgb(70, 171, 226);
  --main-color-dark: var(--main-black);
  --main-color-light: var(--main-white);
  --main-container-size: 1200px;

  @supports (background: color-mix(in srgb, white, black)) {
    --main-color-dark: color-mix(in srgb, var(--main-color), black);
    --main-color-light: color-mix(in srgb, var(--main-color), white);
  }
}

.light-theme {
  --main-black: rgb(240, 240, 240);
  --main-white: rgb(30, 30, 30);
}