:root {
  --font-primary: monospace, "Courier New", Courier;
  --main-black: rgb(30, 30, 30);
  --main-white: rgb(240, 240, 240);
  --main-gray: rgb(180, 180, 180);
  --main-color: rgb(70, 171, 226);
  --main-color-dark: var(--main-black);
  --main-color-light: var(--main-white);
  --main-container-size: 1200px;
}
@supports (background: color-mix(in srgb, white, black)) {
  :root {
    --main-color-dark: color-mix(in srgb, var(--main-color), black);
    --main-color-light: color-mix(in srgb, var(--main-color), white);
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* INICIO SCROLLBAR */
  scrollbar-width: thin;
  scrollbar-color: var(--main-color-dark) var(--main-gray);
  /* width */
  /* track */
  /* handle */
  /* FIN SCROLLBAR */
}
html ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
html ::-webkit-scrollbar-track {
  background: var(--main-gray);
}
html ::-webkit-scrollbar-thumb {
  background: var(--main-color-dark);
}
html ::selection {
  color: var(--main-color-dark);
  background: var(--main-color);
}

body,
#root,
.root-theme {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-family: var(--font-primary);
  line-height: 1.4;
  color: var(--main-white);
  background: var(--main-black);
  transition: background-color 125ms ease;
  overflow: hidden;
}

.light-theme {
  --main-black: rgb(240, 240, 240);
  --main-white: rgb(30, 30, 30);
}

.mainContainer {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainHeader {
  display: flex;
  font-size: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color-dark);
  color: rgb(240, 240, 240);
  width: 100%;
  height: 16px;
  transition: 125ms ease;
}
.mainHeader__site {
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  font: inherit;
  font-size: 0.5rem;
  text-shadow: 1px 1px 0 rgb(30, 30, 30);
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.mainHeader__site:focus-visible {
  outline: 1px dotted var(--main-color-light);
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1;
  z-index: 1;
}
.home__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: clamp(0.125rem, 0.125rem + 2vw, 1rem);
  height: 48px;
  width: 100%;
  background-color: var(--main-color-dark);
  color: rgb(240, 240, 240);
  position: relative;
  padding-inline: clamp(0.5rem, 0.5rem + 2vw, 2rem);
  transition: 125ms ease;
  z-index: 2;
  position: relative;
  box-shadow: 0 -1rem 2rem 0 var(--main-color-dark);
  position: relative;
}
.home__buttons__settings {
  display: flex;
  justify-content: center;
  align-items: end;
}
.home__buttons__settings__theme {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.home__buttons__settings__opts {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  position: absolute;
  top: calc(100% - 1px);
  right: 0;
  background-color: var(--main-color-dark);
  padding: 0.25rem;
  border-top: none;
  pointer-events: none;
  transition: 125ms ease;
  box-shadow: 0 0 2rem -1rem var(--main-color-dark);
}
.home__buttons__settings__opts.active {
  pointer-events: auto;
}
.home__buttons__box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(0.125rem, 0.125rem + 2vw, 1rem);
}
.home__buttons__box button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  outline: none;
  border: none;
  color: var(--main-gray);
  font: inherit;
  font-weight: bold;
  font-size: 2em;
  cursor: pointer;
  transition: color 125ms ease, filter 125ms ease, scale 125ms ease;
}
.home__buttons__box button:hover, .home__buttons__box button.active {
  color: var(--main-color-light);
  filter: drop-shadow(0 0 2px var(--main-color));
}
.home__buttons__box button:focus-visible {
  outline: 1px dotted var(--main-color-light);
  color: var(--main-color-light);
  filter: drop-shadow(0 0 2px var(--main-color));
}
.home__buttons__box button:active {
  scale: 0.9;
  color: var(--main-color-light);
  filter: drop-shadow(0 0 2px var(--main-color));
}
.home__buttons .speedRange,
.home__buttons .sizeRange,
.home__buttons .boundRange {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color-light);
  gap: 0.5rem;
}
.home__buttons .speedRange input,
.home__buttons .sizeRange input,
.home__buttons .boundRange input {
  max-width: 60px;
  accent-color: var(--main-color-light);
  cursor: pointer;
}
.home__buttons .speedRange input:focus-visible,
.home__buttons .sizeRange input:focus-visible,
.home__buttons .boundRange input:focus-visible {
  outline: 1px dotted var(--main-color);
}
.home__buttons .clearBtns,
.home__buttons .genBtns {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 90%;
}
.home__buttons .clearBtns button,
.home__buttons .genBtns button {
  font: inherit;
}
.home__buttons .genBtns {
  aspect-ratio: 1;
  width: 24px;
  justify-content: center;
  gap: 1rem;
}

.game-grid-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-grid {
  flex: 1;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 48px);
  grid-template-rows: repeat(4, 48px);
  grid-auto-rows: 48px;
  grid-auto-columns: 48px;
  place-content: center;
  place-items: center;
  user-select: none;
  cursor: crosshair;
  outline: 1px solid transparent;
  transition: box-shadow 125ms ease, outline-color 125ms ease;
  overflow: hidden;
}
.game-grid.bound {
  outline: 1px solid var(--main-white);
  box-shadow: 0 0 2rem -1rem var(--main-white), 0 0 1rem -0.5rem var(--main-white) inset;
}
@supports (background: color-mix(in srgb, white, black)) {
  .game-grid.bound {
    outline: 1px solid var(--main-color-dark);
    box-shadow: 0 0 2rem -1rem var(--main-color-dark), 0 0 1rem -0.5rem var(--main-color-dark) inset;
  }
}
.game-grid__cell {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 1px solid var(--main-color-dark);
  transition: background-color 125ms ease, opacity 125ms ease, filter 125ms ease, border-color 125ms ease, box-shadow 125ms ease;
  opacity: 0;
  filter: grayscale(1);
}
.game-grid__cell--gridMode {
  opacity: 0.1;
  filter: grayscale(0);
}
.game-grid__cell--active {
  background: var(--main-color);
  opacity: 1;
  filter: grayscale(0);
  box-shadow: 0 0 4px 0 var(--main-color);
}

/* modal */
.modalWrapper {
  z-index: 9;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(300px, 100%, 600px);
  min-width: 300px;
  border: none;
  outline: none;
  background-color: var(--main-color-dark);
  color: rgb(240, 240, 240);
  font-size: 1rem;
  transition: background-color 125ms ease, box-shadow 125ms ease;
  box-shadow: 0 0 4rem -1rem var(--main-color-dark);
}
.modalWrapper::backdrop {
  background-color: dimgray;
  opacity: 0.5;
  backdrop-filter: blur(2px);
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 2px solid var(--main-color);
}
.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--main-gray);
}
.modal__header svg {
  filter: drop-shadow(0 0 2px var(--main-color));
  color: var(--main-color-light);
}
.modal__lang {
  font: inherit;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  color: var(--main-gray);
  transition: color 125ms ease, scale 125ms ease;
}
.modal__lang.active {
  color: var(--main-color);
}
.modal__lang:hover, .modal__lang:focus-visible {
  color: var(--main-color);
}
.modal__body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.modal__body a {
  color: var(--main-color);
  text-decoration: none;
}
.modal__body a:focus-visible {
  outline: 1px dotted var(--main-color);
}
.modal__buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: end;
}
.modal__close {
  font: inherit;
  color: rgb(240, 240, 240);
  outline: none;
  border: 1px solid transparent;
  background-color: var(--main-color);
  padding: 0.5rem;
  color: var(--main-color-dark);
  cursor: pointer;
  transition: color 125ms ease, background-color 125ms ease, border-color 125ms ease, scale 125ms ease;
}
.modal__close:hover {
  color: rgb(240, 240, 240);
  border-color: rgb(240, 240, 240);
}
.modal__close:focus-visible {
  border-color: rgb(240, 240, 240);
  color: rgb(240, 240, 240);
}
.modal__close:active {
  scale: 0.9;
  color: rgb(240, 240, 240);
  border-color: rgb(240, 240, 240);
}

/* end modal */
/* notFound */
.notFound {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notFound__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.notFound__inner p {
  text-align: center;
  text-wrap: balance;
}
.notFound__inner a {
  font: inherit;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  background-color: var(--main-color);
  padding: 0.5em;
  transition: 125ms scale ease;
}
.notFound__inner a:hover, .notFound__inner a:focus-visible {
  outline: 2px solid var(--main-color-dark);
}
.notFound__inner a:active {
  outline: 2px solid var(--main-color-dark);
  transition: 125ms ease;
  scale: 0.9;
}

/* end notFound */

/*# sourceMappingURL=styles.css.map */
